* { margin:0;}

/* Stuff left to do:
1 - figure out the spacing in-between paragraphs
2 - figure out the background image - why isn't it showing?
3 - real links for the navigation text*/

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("/assets/images/circle-blues.png");
    background-repeat: repeat;
}

p, a {
    color: #777777;
}

a {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

header {
    background-color: white;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    width: 960px;
}

h1 {
    color: white;
    padding: 25px;
    background-color: #4aaaa5;
    width: 25%;
    margin: 5px 10px 0px 400px;
    text-align: center;
    float: left;
}

h2 {
    border-color: #cccccc;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 10px;
}

.navigation {
    float: left;
    margin: 50px 0px 0px 0px;
    text-align: bottom;
}

.main-content {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: 2px;
    clear: both;
    padding: 10px;
    line-height: 1.6;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: white; 
    background-color: #666666;
    padding: 10px;
    border-color: #4aaaa5;
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    text-align: center;
    font-size: x-small;
}

#bio-pic {
    float: left;
    padding: 0px 20px 10px 0px;
    margin: 0px 0px 0px 10px;
}